{
    "consignments":[
       {
          "customer_code":"GL6773",
          "reference_number":"",
          "service_type_id":"PRIORITY",
          "load_type":"DOCUMENT",
          "description":"Notebook",
          "cod_favor_of":"Ram Manohar",
          "cod_collection_mode":"cash",
          "consignment_type":"Forward",
          "dimension_unit":"cm",
          "length":"2",
          "width":"3",
          "height":"4",
          "weight_unit":"kg",
          "weight":"2",
          "declared_value":"100",
          "cod_amount":"100",
          "num_pieces":"002",
          "customer_reference_number":"XF878723",
          "commodity_id":"laptop",
          "eway_bill":"12320012385958",
          "invoice_number":"c378942320",
          "invoice_date":"25july2018"
          "origin_details":{
             "name":"Shipsy",
             "phone":"9971149561",
             "alternate_phone":"9876543210",
             "address_line_1":"B-23 Sushant Lok I",
             "address_line_2":"Opp. Bestech Centre Point Mall",
             "pincode":"400063",
             "city":"Mumbai",
             "state":"Maharashtra"
          },
          "destination_details":{
             "name":"Shipsy",
             "phone":"9971149561",
             "alternate_phone":"9876543210",
             "address_line_1":"B-23 Sushant Lok I",
             "address_line_2":"Opp. Bestech Centre Point Mall",
             "pincode":"400063",
             "city":"Mumbai",
             "state":"Maharashtra"
          },
          "return_details":{
            "name":"Shipsy",
            "phone":"9971149561",
            "alternate_phone":"9876543210",
            "address_line_1":"B-23 Sushant Lok I",
            "address_line_2":"Opp. Bestech Centre Point Mall",
            "pincode":"400063",
            "city":"Mumbai",
            "state":"Maharashtra",
            "country":"india",
            "email":"abhipisal97@gmail.com"
         },
          "exceptional_return_details":[
             {
                "name":"Shipsy",
                "phone":"9971149561",
                "alternate_phone":"9876543210",
                "address_line_1":"B-23 Sushant Lok I",
                "address_line_2":"Opp. Bestech Centre Point Mall",
                "pincode":"400063",
                "city":"Mumbai",
                "state":"Maharashtra",
                "country":"india",
                "email":"abhipisal97@gmail.com"
             }
          ]
       }
    ]
 }
 